.inputGroup {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.label {
    padding-bottom: 3px;
    font-size: 14px;
}

.input {
    height: 20px;
}

.button {
    margin-top: 10px;
    background-color: limegreen;
    color: #fff;
    height: 32px;
    border: none;
}